<% layout('simulador_layout') %>

<div class="final-wrapper">
    
    <div class="glow-bg"></div>

    <div class="final-card">
        
        <div class="badge-container">
            <div class="placa-detective">
                <div class="placa-borde">
                    <div class="placa-contenido">
                        <i class="fa-solid fa-user-shield icono-placa"></i>
                        <span class="titulo-placa">DETECTIVE<br>DIGITAL</span>
                        <div class="estrellas">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="titulo-final">¡Misión Cumplida!</h1>
        <p class="texto-final">
            Has completado exitosamente tu entrenamiento contra el fraude digital.<br>
            Agradecemos tu participación y esperamos que la información sea de gran utilidad para ti.

        </p>


        <div class="acciones-finales">
            <a href="/" class="btn-terminar">
                <i class="fa-solid fa-house"></i> Volver al Inicio
            </a>
        </div>

    </div>
</div>