<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "Detector Fraude MVP" %></title>
    <link rel="stylesheet" href="/css/simulador.css" />
    <script defer src="/js/simulador.js"></script>
  </head>
  <body>
    <header>
      <h1>Simulador de Detección de Fraude</h1>
    </header>
    <main><%- body %></main>
  </body>
</html>
